<div class="board" id="board"></div>
<div class="options">
    <div class="shapes">
        <p class="text">Shapes</p>
        <button (click)="drawShape($event)" class="rectangle">▭</button>
        <button (click)="drawShape($event)" class="circle">◯</button>
        <button (click)="drawShape($event)" class="square">⬜</button>
        <button (click)="drawShape($event)" class="polygon">⬠</button>
        <button (click)="drawShape($event)" class="ellipse">⬭</button>
        <button (click)="drawShape($event)" class="triangle">△</button>
        <button (click)="drawLine($event)" class="line">╱</button>
        <button (click)="freeHand($event)" class="freeHand">🖍</button>
    </div>
</div>


