<div class="board" id="board"></div>
<div class="options">
    <div class="shapes">
        <p class="text">Shapes</p>
        <button (click)="drawRectangle()" class="rect"> ▭</button>
        <button (click)="drawCircle()" class="circ"> ○</button>
        <button (click)="drawSquare()" class="squa"> □</button>
        <button (click)="drawPolygon()" class="poly"> ⬠</button>
        <button (click)="drawEllipse()" class="ellipse"> e</button>
        <button (click)="drawTriangle()" class="triangle"> t</button>
        <button (click)="drawLine()" class="line"> l</button>
        <button (click)="freeHand()" class="free"> f</button>
    </div>
</div>


