.board {
    margin-left: 100px;
    margin-top: 70px;
    width: 1000px;
    height: 500px;
    border: 2px solid red;
    position: absolute;
}

.options {
    margin-top: 70px;
    margin-left: 1150px;
    width: 200px;
    height: 500px;
    border: 2px solid red;
    position: absolute;
    border-radius: 20px;
}

/* .shapes {
    padding-top: 100px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    position: absolute;
} */

.shapesParent {
    margin-top: 0px;
    width: 200px;
    height: 150px;
    background-color: beige;
    position: absolute;
}

.circ {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.rect {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.squa {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.poly {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.ellipse {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.triangle {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.line {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.free {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.rect:hover{
    background-color: rgb(181, 192, 192);
}
.circ:hover{
    background-color: rgb(181, 192, 192);
}
.squa:hover{
    background-color: rgb(181, 192, 192);
}
.poly:hover{
    background-color: rgb(181, 192, 192);
}
.ellipse:hover{
    background-color: rgb(181, 192, 192);
}
.triangle:hover{
    background-color: rgb(181, 192, 192);
}
.line:hover{
    background-color: rgb(181, 192, 192);
}
.free:hover{
    background-color: rgb(181, 192, 192);
}









